ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li a {
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

a {
    color: rgb(46,105,163);
    font-size: 1.25em;
    text-decoration: none;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 13px;
}

